<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>Whispree</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.17</string>
	<key>CFBundleVersion</key>
	<string>0.0.17</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Whispree needs accessibility access to insert transcribed text into applications.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Whispree needs microphone access to record your voice for transcription.</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://arsture.github.io/whispree/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>s44fNNpNBumMWbemL71UC323Ke9lgOL90FIqX/ArQFY=</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
